@import "~antd/dist/antd.css";

.App {
  text-align: center;
}
.heightMinusFooter {
  min-height: calc(100vh - 85px);
  width: 100%;
}

body {
  background: #abbaab; /* fallback for old browsers */
}
